{% extends 'baseLog.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}

                <div>
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                        <div class="card-body">
                          <form method="POST" action="">
                                {% csrf_token %}
                                <div class="row mb-3 ">
                                    {{form|crispy}}        
                                </div>
                                    <div class="mt-4 text-center">
                                        <input type="submit" class="btn btn-primary" value="Create Account">
                                    </div>
                            </form> 

                        </div>
                        <div class="p-3">   
                            {{form.errors}}
                        </div>
                        
                        <div class="card-footer text-center py-3">
                            <div class="small"><a href={% url 'login' %}>Have an account? Go to login</a></div>
                        </div>
                    </div>
                </div>        
{% endblock content%}